<div class="row justify-content-center align-items-center fill-parent">
  <div class="col-md-8 col-lg-6 col-xl-4">
    <mat-card>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="LOGIN">
          <app-loader #loginLoader ></app-loader>
          <form class="form">
            <mat-form-field class="form-field">
              <input matInput type="email" placeholder="Email" name="login-email" [(ngModel)]="login.email">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput type="password" placeholder="Password" name="login-password" [(ngModel)]="login.password">
            </mat-form-field>
            <button mat-flat-button color="primary" class="pull-right" (click)="onLogin()">Login</button>
          </form>
        </mat-tab>
        <mat-tab label="REGISTER">
          <form class="form">
            <mat-form-field class="form-field">
              <input matInput type="text" placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput type="text" placeholder="Last Name">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput type="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <button mat-flat-button color="primary" class="pull-right">Register</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
