<app-loader #appLoader></app-loader>
<div class="container-fluid fill-parent">
  <div class="row fill-parent">
    <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6">
      <mat-card class="fill-parent v-scroll">
        <div class="row">
          <div class="col">
            <mat-card-title *ngIf="meter.id === null">NEW METER</mat-card-title>
            <mat-card-title *ngIf="meter.id > 0">UPDATE METER</mat-card-title>
          </div>
          <div class="col">
            <button mat-icon-button class="pull-right" (click)="newMeter()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-content>
          <form class="form">
            <mat-form-field class="form-field">
              <input matInput [(value)]="meter.name" type="text" placeholder="Name">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput [(value)]="meter.consumerNo" type="text" placeholder="Consumer No">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput [(value)]="meter.accountNo" type="text" placeholder="Account No">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-select placeholder="Tariffs" multiple [(value)]="meter.tariffIds">
                <mat-option *ngFor="let tariff of tariffs" [value]="tariff.id">{{ tariff.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="one-button">
          <button *ngIf="meter.id === null" mat-flat-button color="primary" class="pull-right">SAVE</button>
          <button *ngIf="meter.id !== null" mat-flat-button color="primary" class="pull-right">UPDATE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6">
      <mat-card class="fill-parent v-scroll">
        <mat-card-title>METERS</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div *ngFor="let meter of meters" class="col-sm-6 col-md-6 col-lg-4 col-xl-4 data-item">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ meter.name }}</mat-card-title>
                  <mat-card-subtitle>{{ meter.accountNo }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ meter.consumerNo }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="two-button">
                  <button mat-flat-button color="primary" (click)="editMeter(meter.id)">EDIT</button>
                  <button mat-flat-button color="primary" (click)="deleteMeter(meter.id)" class="pull-right">DELETE</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
