@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0px;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.form {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-field {
  width: 100%
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-in-contianer {
    height: fit-;
}

.fill-parent {
  height: 100%;
}

.v-scroll {
  overflow-y: scroll;
}

.h-scroll {
  overflow-x: scroll;
}

.multi-form-buttons {
  padding: 10px 10px 0px 10px;
}

.data-item {
  padding-bottom: 10px !important;
}

.data-action button {
  min-width: 70px;
  line-height: 30px;
  margin-right: 10px;
}

.dyn-form {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
}